@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* light */
  :root {
    --background: 248 249 250; /* ##f8f9fa */
    --surface: 255 255 255; /* #ffffff */

    /* foreground */
    --headline: 31 34 35; /* #1f2223 */
    --body: 65 74 76; /* #414a4c */
    --muted: 112 112 112; /* #707070 */
    --primary-foreground: 255 255 255; /* ##ffffff */

    --primary: 0 103 120; /* #006778 */
    --secondary: 230 231 232; /* #e6e7e8 */
    --tertiary: 46 125 50; /* #2E7D32 */

    --destructive: 185 32 32; /* #b92020 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 19 26 42; /* #131a2a */
      --surface: 31 40 57; /* #1f2839 */

      /* foreground */
      --headline: 217 225 253; /* #d9e1fd */
      --body: 185 201 196; /* #b9c9c4 */
      --muted: 139 154 150; /* #8b9a96 */
      --primary-foreground: 19 27 46; /* ##131B2E */

      --primary: 45 212 191; /* #2DD4BF */
      --secondary: 31 40 57; /* #1f2839 */
      --tertiary: 255 171 90; /* #ffab5a */

      --destructive: 255 179 170; /* #ffb3aa */
    }
  }
}
